
.posts-apv-header, .post-row {
    display: grid;
    padding: 15px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
    color: #2c3e50;

    grid-template-columns: 2fr 120px 120px 100px;
    align-items: center;
    gap: 10px;
}
.post-row {
    cursor: pointer;
}
.post-row:hover {
    background: #f8f9fa;
}
.col-completed input {
    pointer-events: none;
}